<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListProductController</servlet-name>
        <servlet-class>Controller.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Product.Controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductController</servlet-name>
        <servlet-class>Product.Controller.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>Product.Controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>Product.Controller.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNguonHangController</servlet-name>
        <servlet-class>NguonController.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNguonHangController</servlet-name>
        <servlet-class>NguonController.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSourceController</servlet-name>
        <servlet-class>NguonController.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNguonController</servlet-name>
        <servlet-class>NguonController.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDanhMucController</servlet-name>
        <servlet-class>DanhMucDBController.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDanhMucController</servlet-name>
        <servlet-class>DanhMucDBController.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDanhMucController</servlet-name>
        <servlet-class>DanhMucDBController.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDanhMucController</servlet-name>
        <servlet-class>DanhMucDBController.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>Controller.AuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseAuthenticationController</servlet-name>
        <servlet-class>Controller.BaseAuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordReturnController</servlet-name>
        <servlet-class>Controller.PasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAccount</servlet-name>
        <servlet-class>Controller.InsertAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>Controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchActionController</servlet-name>
        <servlet-class>SearchController.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductController</servlet-name>
        <servlet-class>Product.Controller.ViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeController</servlet-name>
        <servlet-class>HomeController.homeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListProductController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/product/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductController</servlet-name>
        <url-pattern>/product/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/product/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/product/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNguonHangController</servlet-name>
        <url-pattern>/nguon/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNguonHangController</servlet-name>
        <url-pattern>/nguon/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSourceController</servlet-name>
        <url-pattern>/nguon/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNguonController</servlet-name>
        <url-pattern>/nguon/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDanhMucController</servlet-name>
        <url-pattern>/loaisp/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDanhMucController</servlet-name>
        <url-pattern>/loaisp/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDanhMucController</servlet-name>
        <url-pattern>/loaisp/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDanhMucController</servlet-name>
        <url-pattern>/loaisp/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseAuthenticationController</servlet-name>
        <url-pattern>/BaseAuthenticationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordReturnController</servlet-name>
        <url-pattern>/account/password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAccount</servlet-name>
        <url-pattern>/account/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/account/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchActionController</servlet-name>
        <url-pattern>/action/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductController</servlet-name>
        <url-pattern>/product/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeController</servlet-name>
        <url-pattern>/store/home</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>loginn.html</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            108000
        </session-timeout>
    </session-config>
</web-app>
